html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#main-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.buttonLinks {
    padding: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(74, 100, 219, 0.815);
    border-radius: 4px;
    text-align: center;
    z-index: 1;
    text-decoration: none;
}

.links {
    color: white;
    text-align: center;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.m-b-md {
    margin-top: 0px;
}
.nav-item a:link{
    text-decoration: none;
    color:black;
}

.navbar {
    background-color: #ffffff00 !important;
    position: sticky;
    top: 0;
}

nav{
    z-index: 100;
}

.nav-item > a{
    cursor: pointer;
}

#imgGIF{
    position: absolute;
    z-index: 0;
    width: 200px;
    display: block;
    left: 45%;
    top: 35%;
}

#list {
    top: 100%;
    background-color: black;
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#vers-carte {
    position: sticky;
    top: 0;
    grid-column: 5 / 6;
}

.newDiv {
    background-color: white;
    height: 300px;
    border: solid 2px blue;
    grid-column: 2 / 5;
    margin-bottom: 20px;
}

#cadre {
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 2;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(61, 61, 61, 0.534);
}

#cadre > div, .inputCadre, #chercher {
    display: inline-block;
    border-radius: 7px;
}

#inputsCadre{
    vertical-align: middle;
}
#cadre  input, select {
    border-radius: 7px;
    padding: 5px;
}

#chercher {
    background-color: rgb(33, 101, 189);
    color: white;
    font-size: 20px;
    font-weight: 900; 
    padding: 10px;
    margin: 0;
    height: 100%;
}


.clicable{
    cursor: pointer;
}

#image_haut img{
    width : 100%;
    position: absolute;
}

#image_haut{
    height: 80%;
    width : 100%;
    overflow: hidden;
    top: 0;
    z-index: 0;
    position: absolute;
}

#image_haut h1{
    z-index: 1;
    color: white;
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 3em;
}

#image_haut a{
    z-index: 1;
    position: relative;
    display: block;
    top: 80%;
    text-align: center;

}

#image_haut button{
    color: white;
    background-color: black;

    border-radius: 50%;

    font-size: 2em;
}

#description{
    margin-top: 20px;
    position: absolute;
    top: 80%;
    width:100%;
}

#criteres{
    float: left;
}

.critere{
    padding: 5px 5px;
}
.critere p, .div_progress{
    width: 50%;
    padding: 0;
    float: right;
    text-align: right;
}

.progress{
    float: left;
    width: 85%;
}
.critere p{
    padding-right: 15px;
    float: left
}

.div_progress{
    display: inline-block;
}

#categories{
    margin-top: 2px;
    margin-right: 3px;
    box-shadow: 1px 1px 1px black;
}

#categories{
    /*display: grid;*/
    padding: 2px 5px;
}
.categorie{
    overflow: hidden;
}
.categorie p{
    display: inline;
}

#descriptiondetaillee{
    margin-top: 20px;
    display: block;
}


/*PROFILE*/

#profile-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#profile-wrapper {
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 4% !important;
    position: relative;
}

#profile-wrapper > div {
    background-color: rgb(243, 248, 253);
    grid-column: 1 / 5;
    display: grid;
    grid-gap: 4% !important;
    grid-template-columns: 1fr 1fr;
    max-height:100%;
}

#user-info-container {
    background-color: white !important;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
}

#user-info-container > div {
    text-align: center;
}

#profile-picture {
    box-shadow: 1px 1px 1px grey;
}

#profile-picture > img {
    width: 100%;
    height: auto;
}

#user-info {
    grid-column: 3 / 5;
}

#fav-categories {
    box-shadow: 1px 1px 1px grey;
    grid-row: 2 / 3; 
}

.profil-progress {
    padding: 2%;
}

#com-historique {
    box-shadow: 1px 1px 1px grey;
    grid-row: 3 / 5;
    grid-template-columns: 1fr 1fr !important;
}

#com-historique, #participation, #creation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    height: 100%;
    max-height: 100%;
}

.profil-com {
    padding: 2%;
}

.com-title, .com-bar {
    display: inline;
}

#participation {
    box-shadow: 1px 1px 1px grey;
    grid-row: 5 / 6;
    display: block;
}

.participation-info {
    display: none;
    padding: 2%;
}

.participation-div:hover .participation-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4%;
    background-color: rgba(255, 255, 255, 0.5);
}

.participation-div:hover .participation-title {
    display: none;
}

.participation-div {
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 2%;
    background-image: url("https://cdn.theculturetrip.com/wp-content/uploads/2017/01/sunrise-on-a-paris-street--tommie-hansen-flickr-e1484816402657-650x375.jpg");
}

#creation {
    box-shadow: 1px 1px 1px grey;
    grid-row: 6 / 7;
}

